

.Card_box{
    display: flex;
    align-items: center;
    line-height: 0;
    gap: 1rem;
    padding: 1rem 0;
    border-bottom: 1px solid #f1820342;
    cursor: pointer;
    background-color: #252525;
}

.Card_box_right{
    display: flex;
    background-color: #252525;
    gap: 3rem;
}

.Card_box_right_middle{
    /* padding-left: 30px; */
    margin-top: -1.2rem;
}

.Card_box_left{
    padding-left: 27px;
    border-radius: 50%;
}